<!-- File này chứa menu bên trái. Nội dung các nút bấm sẽ được sinh ra tự động bởi JavaScript (do cơ chế Role-based) -->
<aside id="sidebar" class="sidebar hidden-permanent">
    <div class="py-6 flex-grow">
        <div id="menu-items"></div>
    </div>
</aside>