PORT=3000

MONGODB_URI=
SESSION_SECRET=workhub-dev-secret-change-me
NODE_ENV=development
JWT_SECRET=Thay_Mot_Chuoi_Ki_Tu_Bat_Ky_Cuc_Ky_Dai_Va_Kho_Doan_Vao_Day_Nhe_2026

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
